.yellow {
  background-color: #f59e0b;
}
.green {
  background-color: #10b981;
}
.orange {
  background-color: #f97316;
}
.light-green {
  background-color: #14b8a6;
}
.red {
  background-color: #b91c1c;
}
.blue {
  background-color: #0ea5e9;
}
.gray {
  background-color: #64748b;
}

.list-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7683cb;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.initial-cont {
  display: flex;
  align-items: center;
}
.initial-bg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  margin-right: 13px;
}
.initial {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}
.initial-cont p {
  color: #ffffff;
  font-size: 15px;
  margin: 0;
  padding-bottom: 4px;
}
.website-name {
  font-size: 17px !important;
}
.stars-img {
  width: 150px;
}
.delete-btn {
  border: 0px;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.delete-img {
  width: 22px;
}

@media (min-width: 768px) {
  .list-cont {
    margin-right: 15px;
    min-width: 250px;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
